@use "../utils/_variables.scss" as var;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0em 0em;
  margin: 0em;
  background-color: var.$bg-primary;
  font-family: "Roboto", sans-serif;
}

// main {
// }

a {
  text-decoration: none;
  // color: var(--mainText);
}

ul,
li {
  list-style: none;
  padding: 0em;
  margin: 0em;
}
