@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;

.location {
  display: flex;
  justify-content: center;
  background-color: darken(var.$bg-primary, 8%);
  color: lighten(var.$text-color, 20%);
  padding: 18px 0 16px;
  &__icon {
    font-size: 16px;
    padding-right: 15px;
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    padding-right: 25px;
  }
}

.intro {
  background-color: darken(var.$bg-primary, 3%);
  text-align: center;
  padding: 40px 30px 70px 30px;
  &__title {
    line-height: 1.1;
    padding-bottom: 12px;
  }
  &__description {
    color: lighten(var.$text-color, 25%);
    font-weight: 300;
    margin-bottom: 40px;
  }
}
