@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;

.location {
  display: flex;
  justify-content: center;
  background-color: darken(var.$bg-primary, 8%);
  color: lighten(var.$text-color, 20%);
  padding: 18px 0 16px;
  &__icon {
    font-size: 16px;
    padding-right: 15px;
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    padding-right: 25px;
  }
}

.intro {
  background-color: darken(var.$bg-primary, 3%);
  text-align: center;
  padding: 35px 30px 70px 30px;
  &__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: 12px;
  }
  &__description {
    color: lighten(var.$text-color, 25%);
    font-weight: 300;
    margin-bottom: 40px;
  }
}

.instruction {
  text-align: left;
  padding: 45px 20px 40px 20px;
  &__title {
    margin-bottom: 30px;
  }
  &__cell {
    display: flex;
    align-content: center;
    // justify-content: center;
    background-color: darken(var.$bg-primary, 4%);
    border-radius: 20px;
    box-shadow: 0px 5px 12px darken(var.$bg-primary, 12%);
    padding: 25px 25px 20px 25px;
    margin: 0 0 25px 10px;
    &__num {
      font-size: 14px;
      background-color: var.$color-primary;
      color: var.$bg-primary;
      border-radius: 100%;
      padding: 3px 7px;
      transform: translateX(-35px);
    }
    &__icon {
      color: lighten(var.$text-color, 45%);
      font-size: 18px;
      padding-right: 25px;
      padding-top: 2px;
      margin-left: -12px;
      &--last {
        color: var.$color-primary;
        font-size: 16px;
      }
    }
    &__text {
      font-weight: 500;
    }
    &--last {
      background-color: lighten(var.$color-primary, 35%);
    }
  }
}

.restaurant {
  background-color: darken(var.$bg-primary, 3%);
  padding: 50px 20px;
  &__title {
    margin-bottom: 20px;
  }
  &__card {
    display: block;
    border-radius: 15px;
    box-shadow: 0px 3px 8px darken(var.$bg-primary, 15%);
    margin-bottom: 18px;
    overflow: hidden;
    &__img {
      width: 320px;
      height: 175px;
      object-fit: cover;
    }
  }
  &__new {
    position: absolute;
    transform: translate(225px, 10px);
    background-color: var.$color-tertiary;
    color: darken(var.$color-tertiary, 45%);
    padding: 5px 10px;
    border-radius: 2px;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    padding: 12px 10px 16px 12px;
    &__name {
      font-size: 18px;
      margin-bottom: 3px;
    }
    &__location {
      font-weight: 300;
    }
    &__icon {
      font-size: 22px;
      margin-right: 4%;
    }
  }
}
