@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;
@use "../utils/_mixins.scss" as mix;
@use "../utils/_animations.scss" as anim;

//page outside of "menu section" = background image
.main {
  background-color: darken(var.$bg-primary, 5%);
  flex: 1 1 auto;
  &__img {
    width: 100%;
    height: 15.625em;
    object-fit: cover;
  }
}

//entire menu section (=everything on grey bg) -> title + menus
.menu {
  position: relative;
  top: -2.5em;
  height: 100%;
  background-color: darken(var.$bg-primary, 5%);
  padding: 2.1875em 0.9375em 3.75em 0.9375em;
  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5em;
  @include mix.breakpoint(sm) {
    padding: 2.1875em 0 3.75em 0;
  }

  //header section = restaurant name + heart icon
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.75em;
    @include mix.breakpoint(sm) {
      width: 90%;
      margin-left: 5%;
    }
    @include mix.breakpoint(lg) {
      margin-bottom: 2.5em;
    }
    &__title {
      font-family: "Shrikhand", cursive;
      font-size: 1.6875em;
      font-weight: 200;
    }
    &__icon {
      position: relative;
      font-size: 1.5em;
      margin-left: 10%;
      background-color: darken(var.$bg-primary, 5%);
      z-index: 0;
      overflow: hidden;
      @include mix.breakpoint(sm) {
        margin-left: auto;
      }
      &::before {
        content: "\f004";
        position: absolute;
        display: inline-block;
        color: var.$color-secondary;
        transform-origin: bottom;
        transform: scale(0);
        z-index: -1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        transition: transform 0.45s ease-in-out;
      }
      &:hover {
        &::before {
          transform: scale(0.9);
        }
      }
    }
  }

  //menu parts (aka "entrée" "plat" "dessert")
  &__part {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 1.5625em;
    border-bottom: 3.5px solid var.$color-tertiary;
    width: 2.1875em;
    padding-bottom: 0.1875em;
    @include mix.breakpoint(sm) {
      margin-left: 5%;
    }
  }
  //menu btns
  &__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: calc(100%);
    background-color: var.$bg-primary;
    border-radius: 1.0625em;
    box-shadow: 0px 5px 10px darken(var.$bg-primary, 20%);
    margin-bottom: 0.9375em;
    overflow: hidden;
    @include mix.breakpoint(sm) {
      width: calc(90%);
      margin: 0 auto 0.9375em auto;
    }
    @include mix.breakpoint(md) {
      min-width: calc(70%);
    }

    &__alignement {
      position: relative;
      min-width: 85%;
      flex: 1 1 auto;
    }

    &__plate,
    &__description {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__plate {
      font-size: 1.125em;
      font-weight: 500;
      margin-bottom: 0.25em;
      margin-top: 0.9375em;
      margin-left: 0.9375em;
    }

    &__description {
      font-size: 0.875em;
      font-weight: 300;
      margin-bottom: 0.9375em;
      margin-left: 1.2em;
    }

    &__anim {
      position: relative;
      display: flex;
    }

    &__price {
      align-self: flex-end;
      font-size: 0.875em;
      font-weight: 600;
      color: lighten(var.$text-color, 15%);
      margin-left: 0.9375em;
      margin-right: 0.9375em;
      margin-bottom: 0.9375em;
    }
    &__check {
      background-color: var.$color-tertiary;
      width: 3.6em;
      opacity: 0;
    }
    &__check i {
      display: block;
      font-size: 1.25em;
      margin: 26px 18px;
      color: var.$bg-primary;
    }
  }

  &__list a:hover {
    .menu__item__anim {
      transform: translateX(0px);
      transition: transform 0.25s ease-in;
    }
    .menu__item__alignement {
      min-width: 65%;
      transition: min-width 0.25s ease-in;
    }
    .menu__item__check {
      opacity: 1;
    }
    .menu__item__check i {
      @include anim.icon-rotation;
    }
  }
}

//animation for menus
.menu li {
  opacity: 0;
  @include anim.menu-apparition;
}

//margin between last menu item and btn
.menu li:last-of-type {
  margin-bottom: 4.0625em;
  @include mix.breakpoint(lg) {
    margin-bottom: 4.6875em;
  }
}

//btn alignement
.btn-align {
  text-align: center;
  @include mix.breakpoint(xxl) {
    margin-top: 5%;
  }
}

//desktop styles
.flex__container {
  @include mix.breakpoint(lg) {
    display: flex;
  }
}

.desktop__col {
  @include mix.breakpoint(lg) {
    width: 35%;
  }
}
