//homepage loader :
@mixin loader-bar {
  @keyframes loader-bar {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  animation: loader-bar 2.75s ease forwards;
}

@mixin loader {
  @keyframes loader {
    0%,
    95% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      display: none;
      visibility: hidden;
    }
  }
  animation: loader 3s ease-out forwards;
}

//Menu check animation
//reduce description when check happens
@mixin description-width {
  @keyframes description-width {
    0% {
      width: calc(100%);
    }
    100% {
      width: calc(80%);
    }
  }
  animation: description-width 0.25s ease-in;
}

@mixin description-width-lg {
  @keyframes description-width-lg {
    0% {
      width: calc(100%);
    }
    100% {
      width: calc(73%);
    }
  }
  animation: description-width-lg 0.25s ease-in;
}

//same for plate title
@mixin description-plate-lg {
  @keyframes description-plate-lg {
    0% {
      width: calc(100%);
    }
    100% {
      width: calc(90%);
    }
  }
  animation: description-plate-lg 0.25s ease-in;
}

//make check icon rotate
@mixin icon-rotation {
  @keyframes icon-rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  animation: icon-rotation 0.45s ease-in-out;
}

//menu apparition :
@mixin menu-apparition {
  @keyframes menu-apparition {
    0% {
      opacity: 0;
      transform: translate(25px, 15px) translateZ(100px);
    }
    85% {
      opacity: 1;
      z-index: 2;
    }
    100% {
      opacity: 1;
      transform: translate(0, 0) translateZ(0);
    }
  }
  animation: menu-apparition 1s cubic-bezier(0.22, 0.57, 0.4, 1.16) 0.1s
    forwards;
}

@for $i from 1 through 10 {
  .menu li:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.25}s;
  }
}
