@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;
@use "../utils/_mixins.scss" as mix;
@use "../utils/_animations.scss" as anim;

//loader
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var.$color-primary;
  overflow: hidden;
  @include mix.breakpoint(xxl) {
    padding-top: 10%;
  }

  &__logo {
    font-family: "Shrikhand", cursive;
    font-size: 35px;
    font-weight: 200;
    color: var.$color-secondary;
    margin-top: 35%;
    @include mix.breakpoint(sm) {
      font-size: 40px;
    }
  }
  &__p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: var.$bg-primary;
    @include mix.breakpoint(sm) {
      font-size: 20px;
    }
  }
  &__logo,
  &__p {
    text-align: center;
    padding: 15px;
  }
  &__bar {
    position: relative;
    display: flex;
    justify-items: center;
    width: 300px;
    height: 29px;
    border: 2px solid var.$color-tertiary;
    padding: 2.5px;
    margin-top: 50px;
    @include mix.breakpoint(sm) {
      width: 400px;
      height: 29px;
      padding: 3px;
    }
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 291px;
      height: 21px;
      background-color: var.$color-tertiary;
      transform-origin: left;
      transform: scale(0);
      @include anim.loader-bar;
      @include mix.breakpoint(sm) {
        width: 391px;
        height: 21px;
      }
    }
  }
  @include anim.loader;
}
