//colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$bg-primary: #fff;
$bg-secondary: #353535; // = footer
//$bg-tertiary: #f6f6f6; = light grey
//$bg-location: #EAEAEA; = dark grey (location bg)
//$bg-colored: #F5EDFF; = greyish purple

$title-color: #101010;
$text-color: #000;
