//colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$bg-primary: #fff;
//$bg-secondary: #f6f6f6; = light grey
//bg-tertiary: #EAEAEA; = dark grey (location bg)
//bg-colored: #F5EDFF; = greyish purple
