@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;
@use "../utils/_mixins.scss" as mix;

.footer {
  background-color: var.$bg-secondary;
  color: var.$bg-primary;
  padding: 27px 0 30px 25px;
  @include mix.breakpoint(sm) {
    padding: 27px 0 30px;
  }
  &__title {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
    @include mix.breakpoint(sm) {
      font-size: 20px;
      text-align: center;
      margin: 5px 0 30px;
    }
    @include mix.breakpoint(md) {
      text-align: left;
      margin: 5px 5% 30px;
    }
  }
  &__link {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
  }
  &__link a {
    color: var.$bg-primary;
  }
  &__icon {
    font-size: 12px;
    padding-right: 10px;
  }
  &__flex {
    @include mix.breakpoint(sm) {
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      margin: auto;
    }
    @include mix.breakpoint(md) {
      display: flex;
      justify-content: left;
      gap: 15%;
      margin-left: 5%;
    }
  }
}
