@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;
@use "../utils/_mixins.scss" as mix;

.footer {
  background-color: var.$bg-secondary;
  color: var.$bg-primary;
  padding: 1.6875em 0 1.875em 1.5625em;
  @include mix.breakpoint(sm) {
    padding: 1.6875em 0 1.875em;
  }

  @include mix.breakpoint(xxl) {
    position: sticky;
    width: 100%;
    bottom: 0;
  }
  &__title {
    font-family: "Shrikhand", cursive;
    font-size: 1.125em;
    font-weight: 400;
    margin-bottom: 1.125em;
    @include mix.breakpoint(sm) {
      font-size: 1.25em;
      text-align: center;
      margin: 0.3125em 0 1.875em;
    }
    @include mix.breakpoint(md) {
      text-align: left;
      margin: 0.3125em 5% 1.875em;
    }
  }
  &__link {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0.4375em;
  }
  &__link a {
    color: var.$bg-primary;
  }
  &__icon {
    font-size: 0.75em;
    padding-right: 0.625em;
  }
  &__flex {
    @include mix.breakpoint(sm) {
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      margin: auto;
    }
    @include mix.breakpoint(md) {
      display: flex;
      justify-content: left;
      gap: 15%;
      margin-left: 5%;
    }
  }
}
