@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;
@use "../utils/_mixins.scss" as mix;

.header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 20px 0 15px 0;
  box-shadow: 0 3px 4px darken(var.$bg-primary, 20%);
  @include mix.breakpoint(xxl) {
    width: 100vw;
    padding-right: 32%;
    transform: translateX(-22%);
  }
  &__logo {
    width: 165px;
    @include mix.breakpoint(lg) {
      margin-left: auto;
      margin-right: 6%;
    }
  }
  &__icon {
    position: absolute;
    font-size: 18px;
    color: lighten(var.$text-color, 20%);
    transform: translate(-75px, 5px);
    @include mix.breakpoint(sm) {
      left: 16%;
      margin-left: 5px;
    }
    @include mix.breakpoint(lg) {
      left: 11%;
      margin-left: 0px;
    }
    @include mix.breakpoint(xxl) {
      margin-left: 14%;
    }
  }
  &--menu {
    box-shadow: none;
  }
}
