@use "../utils/_variables.scss" as var;
@use "../base/_general-styles.scss" as gen;
@use "../utils/_mixins.scss" as mix;

.header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 20px 0 15px 0;
  box-shadow: 0 3px 4px darken(var.$bg-primary, 20%);
  &__logo {
    width: 165px;
  }
  &__icon {
    position: absolute;
    font-size: 18px;
    color: lighten(var.$text-color, 20%);
    transform: translate(-75px, 5px);
    @include mix.breakpoint(sm) {
      left: 16%;
    }
  }
  &--menu {
    box-shadow: none;
  }
}
